*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
}

ul{
    list-style: none;
}

.middleWrapper{
    padding: 8rem 16rem;
}


@font-face {
    font-family: VodafoneFont;
    src: url(/src/assets/Vodafone.ttf);
}
  